{# {% block collection_row %}
    <div
        data-sortable-collection
        class="ea-sortable-collection"
    >
        {{ block('collection_widget') }}
    </div>
{% endblock %}

{% block collection_entry_row %}
    <div class="ea-form-group ea-sortable-item">
        <span class="drag-handle me-2" title="Réordonner">
            ⠿
        </span>

        {{ block('form_row') }}
    </div>
{% endblock %} #}
